html, body {
    height: 100%;
}


.contacto {
    margin-top: 75px;
    margin-bottom: -120px;
    min-height: 100%;
    position: relative;
}

.contacto-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 120px;
}

.contacto-izq h1 {
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.004em;
    color: #506953;
    width: 85%;
    margin-bottom: 50px;
    border-bottom: 3px solid #506953;
    padding-bottom: 20px;
}

/* .contacto-izq button {
    width: 342px;
    height: 60px;
    background: #506953;
    border-radius: 8px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.003em;
    color: #D4CDBD;
    border: none;
    padding-left: 28px;
    transition: all ease 0.5s;
    padding: 0px;
}

.contacto-izq button:hover {
    transform: scale(1.1);
} */


/* .contacto-izq a {
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: -0.002em;
    text-decoration-line: underline;
    color: #506953;
    margin-top: 25px;
    margin-bottom: 0;
} */

/* .contacto-info .redes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
}

.contacto-izq .redes a {
    font-family: "Univers LT W01_55 Roman1475956";
    font-weight: 700;
    margin-top: 20px;
    box-sizing: border-box;
} */



/* .contacto-izq .redes a:nth-child(2) {
    margin-left: 32px;
}    */

.contacto-info {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacto-info div {
    display: flex;
    flex-direction: column;
}

.contacto-info .correo {
    width: 40%;
}

.contacto-info .telefono {
    width: 35%;
    padding-left: 60px;
}

.contacto-info .redes {
    width: 25%;
    padding-left: 30px;
}

.contacto-info .direccion {
    width: 100%;
    margin-top: 100px;
}

.direccion-mob {
    display: none !important;
}

.direccion-desk {
    display: block !important;
}

.contacto-info p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.003em;
    color: #161616;
}

.contacto-info a {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.003em;
    text-decoration-line: underline;
    color: #506953;
}

.contacto-info .redes a {
    margin-bottom: 17px;
}


.formulario {
    width: 80%;
    border: 1px solid #506953;
    box-sizing: border-box;
    border-radius: 6px;
    height: auto;
    margin-bottom: 100px;
}


.formulario h1 {
    font-size: 22px;
    line-height: 42px;
    letter-spacing: -0.003em;
    color: #506953;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -10px;
}



.formulario form label {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}

.formulario form input, .formulario form textarea {
    width: 90%;
    margin-left: 30px;
    margin-top: 8px;
    border: 1px solid #506953;
    box-sizing: border-box;
    border-radius: 6px;
    background: #D4CDBD;
    height: 40px;
    padding: 5px;
}

.formulario form textarea {
    height: 105px;
    resize: none;
}

.formulario form input {
    padding-left: 20px;
}

.formulario form textarea {
    padding: 13px 10px 5px 20px;
}

.submit-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
}

.formulario form .submit {
    width: 122px;
    height: 44px;
    background: #506953;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: -0.003em;
    color: #D4CDBD;
    margin-top: 50px;
    padding: 0px;
    transition: all ease 0.5s;
    margin-bottom: 30px;
}

.formulario form .submit:hover {
    transform: scale(1.1);
}

.alert {
   text-align: center;
   border: none;
   background-color: transparent;
   font-family: "Univers LT W01_55 Roman1475956";
   margin-bottom: 10px;
}

.alert-success {
    color: green;
    font-size: 14px;
}

.alert-danger {
    color: red;
    font-size: 14px;
}

.alert-warning {
    color: red;
    font-size: 14px;
}

.footer-desktop, .push{
    margin-top: 120px;
  }


  @media screen and (max-width: 1350px) {
    
    
    .contacto-info .redes {
        padding-left: 20px;
    }
    

  }

@media screen and (max-width: 1240px) {

    .formulario {
        width: 90%;
    }

    .contacto-info {
        /* justify-content: ; */
        align-items: flex-start;
    }

    .contacto-info .correo {
        width: 50%;
        padding-left: 0;
    }
    
    .contacto-info .telefono {
        width: 50%;
        padding-left: 70px;
    }
    
    .contacto-info .redes {
        width: 50%;
        margin-top: 60px;
        padding-left: 70px;
    }
    
    .contacto-info .direccion {
        width: 50%;
        margin-top: 60px;
    }

    .direccion-mob {
        display: block !important;
    }

    .direccion-desk {
        display: none !important;
    }
    
}

@media screen and (max-width: 1024px) {
    .contacto-izq {
        margin-left: 10%;
    }
}

@media screen and (max-width: 748px) {

    .contacto-izq {
        margin-left: 8%;
    }

    .formulario {
        width: 95%;
    }

    .contacto-izq h1 {
        font-size: 32px;
    }
    
    .contacto-izq button {
        width: 273px;
        height: 48px;
        font-size: 18px;
        line-height: 22px;
    }

    .contacto-izq a {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 600px) {

    .contacto {
        margin-top: 50px;
    }

    .contacto-izq {
        margin-left: 5%;
    }

    .contacto-izq h1 {
        font-size: 24px;
        line-height: 31.2px;
        width: 95%;
        padding-bottom: 16px;
        margin-bottom: 20px;
     }

     .contacto-info .redes {
        margin-top: 40px;
    }
    
    .contacto-info .direccion {
        margin-top: 40px;
    }

    .contacto-izq button {
        width: 190px;
        height: 36px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 19.2px;
        margin-top: 20px;
    }

    .contacto-izq a {
        font-size: 12px;
        line-height: 19.2px;
    }

    .formulario {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
        padding-bottom: 0;
        height: auto;
    }

    .formulario h1 {
        font-size: 18px;
        line-height: 21.6px;
        margin-left: 5%;
        margin-bottom: 0;
    }


    .formulario form label {
        margin-left: 5%;
        margin-top: 20px;
        font-size: 12px;
        line-height: 19.2px;
        color: #161616;
    }
    
    .formulario form input, .formulario form textarea {
        width: 90%;
        margin-left: 5%;
        height: 35px;
    }

    .formulario form textarea {
        padding-top: 5px;
        height: 105px;
    }

    .submit-container {
        width: 90%;
        margin-left: 5%;
    }

    .formulario form .submit {
        width: 81px;
        height: 36px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 19.2px;
        margin-top: 20px;
    }

    /* .alert {
        margin-bottom: 0;
        padding-bottom: 0;
    } */

    .alert-success {
        color: green;
        font-size: 12px;
    }
    
    .alert-danger {
        color: red;
        font-size: 12px;
    }
    
    .alert-warning {
        color: red;
        font-size: 12px;
    }
    

    
}


@media screen and (max-width: 480px) {

    .contacto-izq {
        margin-left: 5%;
    }

    .formulario {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 380px) {

    .contacto-info .telefono {
        padding-left: 50px;
    }
    
    .contacto-info .redes {
        padding-left: 50px;
    }

}


