header h1 {
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.004em;
    color: #506953;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 0;
}

header p {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.003em;
    color: #161616;
    margin-left: 10%;
    width: 50%;
    margin-top: 25px;
}

.principios {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 80px;
}


.principio {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 60%;
    margin-top: 75px;
}

.principio:nth-child(1){
    margin-top: 0;
}

.principio h6 {
    font-family:"Univers LT W01_65 Bold1475968";
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.004em;
    color: #506953;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    margin-bottom: 0;
    /* text-decoration: underline; */
}

.principio p {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.003em;
    color: #161616;
    margin-left: 40px;
    margin-bottom: 0;
    padding-top: 7.5px;
    /* text-decoration: underline; */
}

@media screen and (max-width: 900px) {

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 28px;
    }

    .principio h6 {
        font-size: 38px;
    }
    
    .principio p {
        font-size: 28px;
        line-height: 36px;
    }
}

@media screen and (max-width: 748px) {

    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 24px;
    }

    .principio h6 {
        font-size: 32px;
    }
    
    .principio p {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 600px) {

    header h1 {
        font-size: 20px;
        margin-top: 50px;
    }
    
    header p {
        font-size: 16px;
        width: 75%;
        margin-top: 25px;
    }

    .principios {
        margin-top: 50px;
    }

    .principio {
        width: 85%;
        margin-top: 30px;
    }

    .principio h6 {
        font-size: 20px;
    }
    
    .principio p {
        font-size: 16px;
        line-height: 22.4px;
        padding-top: 3px;
        margin-top: -3px;
        margin-left: 18px;
    }
}